* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

/* banner section */
header {
  background-color: rgba(229, 84, 115, 0.1);
  height: 100vh;
  padding: 0 150px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-right: 30px;
  color: #000;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 90px;
}

.banner-title {
  font-size: 60px;
  font-weight: 800;
  color: #272727;
  margin-bottom: 32px;
}

.banner-description {
  font-size: 18px;
  color: #272727;
  margin-bottom: 32px;
  line-height: 30px;
}

.banner-img {
  max-width: 400px;
}

.btn {
  padding: 20px 40px;
  background-color: #e55473;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}

/* flowers section */
.featured-flower-container {
  margin-top: 150px;
  margin-bottom: 120px;
}

.featured-flower-header {
  text-align: center;
  max-width: 594px;
  margin: 0 auto;
}

.section-title {
  font-size: 40px;
  font-weight: 800;
  color: #272727;
  margin-bottom: 24px;
}

.section-description {
  color: #272727;
  opacity: 0.6;
  margin-bottom: 48px;
  font-size: 16px;
}

.featured-flowers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0 150px;
  text-align: center;
}

.flower {
  width: 310px;
}

.flower img {
  width: 100%;
  height: auto;
  background-image: url("../images/Rectangle\ 3\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* background-size: 400px 500px; */
  /* padding: 110px 78px 0 78px; */
}

.flower h3 {
  font-size: 24px;
  text-decoration: underline;
  margin-top: 32px;
}

/* feature section */
#feature-section-wrapper {
  margin: 128px 0;
  padding: 0 150px;
}

.feature-container {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(39, 39, 39, 0.05);
  padding: 86px 187px;
  border-radius: 8px;
}

.feature {
  text-align: center;
}

.feature-img {
  width: 77px;
  margin-bottom: 24px;
}

.feature-description {
  font-size: 24px;
  font-weight: 600;
  color: #272727;
  opacity: 0.8;
}

/* hot deals section */
#hot-deals {
  margin: 128px 0;
  padding: 0 150px;
  background-color: rgba(229, 84, 115, 0.05);
}

.hot-deals-container {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hot-deals-column {
  text-align: center;
  max-width: 50%;
}

/* instagram section */
#instagram-wrapper {
  margin: 128px 0;
  padding: 0 150px;
}

.instagram-header {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
}

.instagram-images {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.insta-img {
  max-width: 300px;
}

/* newsletter section */
#newsletter-wrapper {
  margin: 128px 0;
  padding: 0 150px;
}

.news-letter-container {
  background-image: url("../images/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  text-align: center;
  padding: 120px 0;
}

.input-email {
  padding: 22px;
  background-color: #fff;
  font-size: 16px;
  color: rgba(39, 39, 39, 0.6);
  border-radius: 8px;
  border: 0;
  width: 60%;
  margin-right: 16px;
}

/* footer section */
footer {
  background-color: #111010;
  padding: 128px 0;
}

.footer-container {
  max-width: 600px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.footer-container p {
  color: #fff;
  opacity: 0.9;
}

.footer-container h2 {
  color: #fff;
  cursor: pointer;
}

.colored {
  color: #e55473;
}
